h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

li {
    color: #000;
    font-size: 12px;
}

p {
    color: #000;
    font-size: 12px;
}

table {
    width: 60%;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    color: #fff;
    background-color: #666;

}

td{
    border:1px solid black ;
    color: #666;

}

nota{
    background: color #666;;
    text-align: center;
}
